@{
    Layout = null;
}

@model GeositeFramework.Models.Geosite


<!DOCTYPE html>
<!--[if IE 8]>    		<html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->  <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />
	
    <title>Geosite Framework</title>
    <link rel="stylesheet" href="http://serverapi.arcgisonline.com/jsapi/arcgis/3.3/js/dojo/dijit/themes/claro/claro.css">
    <link rel="stylesheet" href="http://serverapi.arcgisonline.com/jsapi/arcgis/3.3/js/esri/css/esri.css">
    <!-- Temporarily hard-code css loading for plugins -->
    <link rel="stylesheet" type="text/css" href="plugins/layer_selector/main.css">
    <link rel="stylesheet" type="text/css" href="plugins/layer_selector/lib/ext-4.1.1a/resources/css/ext-all.css">
      
	<link rel="stylesheet" href="css/foundation.css">
	<link rel="stylesheet" href="css/app.css">
	<script src="js/lib/foundation/modernizr.foundation.js"></script>
</head>


<!-- EX.: view-split, view-left, view-right -->
<body class="view-split" style="zoom: 0 !important;">

    <script type="text/template" id="template-pane">
        <div class="sidebar">
            <ul class="plugins side-nav twelve top"></ul>

            <ul class="side-nav twelve bottom">
                <% if (isMain) { %>
        		    <li><a href="#"><img class="icon" src="img/icons/icon_switch-2_up.png">Switch Maps</a>
			        <li><a href="#"><img class="icon" src="img/icons/icon_split_up.png">Split View</a>
                    <li class="divider"></li>
				    <li><a href="#" class="hide-for-tablet"><img class="icon" src="img/icons/icon_share_up.png">Save &amp; Share</a>
				    <li><a href="#" class="hide-for-tablet"><img class="icon" src="img/icons/icon_print_up.png">Print Page</a>
				    <li><a href="#" class="hide-for-tablet"><img class="icon" src="img/icons/icon_help-support_up.png">Help/Support</a>
                <% } else { %>
                    <li><a href="#" class="hide-for-tablet"><img class="icon" src="img/icons/icon_unlink-views_up.png">Unlink Maps</a></li>
                <% } %>
            </ul>
        </div>
        <div id="map-<%= index %>" class="map">
            <div class="tools"></div>
        </div>
    </script>

    <script type="text/template" id="template-sidebar-plugin">
            <a href="#">
                <img src="/plugins/<%- pluginSrcFolder %>/icon.png">
                <div><%- toolbarName %></div>
            </a>
    </script>

    <script type="text/template" id="template-sidebar-link">
        <div class="sidebar-link">
            <a href="<%= link.url %>"><%- link.text %></a>
        </div>
    </script>

    <script type="text/template" id="template-plugin-container">
        <div class="plugin-container"></div>
    </script>

	<!-- TOP BAR, FIXED TO THE TOP OF THE SCREEN -->
	<div class="fixed">
		<nav class="top-bar">
			<ul>
				<li class="name">
					<h1><a href="#">@Model.Organization</a></h1>
					<h2>@Model.Title</h2>
				</li>
				<!-- USED FOR SMALLER SCREENS TO CONDENSE NAVIGATION -->
				<li class="toggle-topbar"><a href="#"></a></li>
			</ul>
			<section>
				<ul class="right">
                    @foreach (var link in Model.HeaderLinks) {
                        if (link != Model.HeaderLinks.First()) { 
                            <li class="divider"></li>
                        }
					    <li><a href="@link.Url">@link.Text</a></li>
                    }
				</ul>
			</section>
		</nav>
	</div>
	
	<!-- LEFT CONTENT AREA -->
	<div id="left-pane" class="content"></div>
	
	<!-- RIGHT CONTENT AREA -->
	<div id="right-pane" class="content"></div>
	
	<script src="js/lib/foundation/foundation.min.js"></script>
	<script src="js/lib/foundation/app.js"></script>

    <script src="//serverapi.arcgisonline.com/jsapi/arcgis/?v=3.3compact"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/lib/jquery-1.9.0.min.js"><\/script>')</script>
    <script src="js/lib/underscore-1.4.3.min.js"></script>
    <script src="js/lib/backbone-0.9.10.min.js"></script>
    <script src="js/lib/backbone.picky.js"></script>
    <script src="js/Geosite.js"></script>
    <script src="js/Plugin.js"></script>
    <script src="js/Pane.js"></script>
    <script src="js/MapWrapper.js"></script>
    <script src="js/TemplateLoader.js"></script>
    <script src="js/App.js"></script>
    <!-- Temporarily hard-code js loading for plugins -->
    <script type="text/javascript" charset="utf-8" src="plugins/layer_selector/lib/ext-4.1.1a/ext-all.js"></script>
    
    <script type="text/javascript">
        // Configure the Dojo module loader so that module identifiers starting with "plugins/" 
        // will be loaded from the site's root "plugins" folder
        require({
            async: true,
            packages: [{
                name: "plugins",
                location: location.pathname.replace(/\/[^/]+$/, "") + "plugins"  // e.g. "/virtualFolderName/plugins"
            }]
        });

        // Our require() call below for loading plugins shouldn't fail, since:
        //     * Server-side code verifies that each plugin folder exists and contains a main.js file.
        //     * require() succeeds even if main.js has errors. (It passes an empty object for that module.)
        // But just in case:
        require.on('error', function(error) {
            alert('Site configuration error.');
        });

        // Load the plugins and launch the app.
        // We're using server-generated data to build this JavaScript block. Example result:
        // 
        //     require(['plugins/layer_selector/main', 'plugins/measure/main'], function(p0, p1) {
        //         return $(document).ready(function() {
        //             var regionData = {
        //                                  "title": "Geosite Framework Sample",
        //                                       // ... (omitting middle of region.json) ...
        //                                  "pluginOrder": [ "layer_selector", "measure" ]
        //                              },
        //                 plugins = [p0, p1]; // loaded plugin objects
        //             Geosite.app.init(regionData, plugins);
        //         });
        //     });

        require([@Html.Raw(Model.PluginModuleIdentifiers)], function(@Html.Raw(Model.PluginVariableNames)) {
            return $(document).ready(function() {
                var regionData = @Html.Raw(Model.RegionDataJson),     // contents of region.json (augmented)
                    plugins = [@Html.Raw(Model.PluginVariableNames)]; // loaded plugin objects
                Geosite.app.init(regionData, plugins);
            });
        });

    </script>
</body>
</html>
