@{
    Layout = null;
}

@model GeositeFramework.Models.Geosite

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Geosite Framework</title>
    <link rel="stylesheet" href="http://serverapi.arcgisonline.com/jsapi/arcgis/3.3/js/dojo/dijit/themes/claro/claro.css">
    <link rel="stylesheet" href="http://serverapi.arcgisonline.com/jsapi/arcgis/3.3/js/esri/css/esri.css">
    <!-- Temporarily hard-code css loading for plugins -->
    <link rel="stylesheet" type="text/css" href="plugins/layer_selector/main.css">
    <link rel="stylesheet" type="text/css" href="plugins/layer_selector/lib/ext-4.1.1a/resources/css/ext-all.css">
    <style>
        /* CSS is temporarily in this file for convenience*/
        html, body, #page { height: 100%; padding: 0; margin: 0; background-color: #666; font:14px sans-serif; color: white}
        #page { position: relative; height: 100%; margin: 0 50px;}
        #header { height:70px; padding: 28px; }
        #top-links { float:right; }
        #top-links a { color: white; text-decoration:none; }
        .pane { position:relative; }
        .sidebar { position:absolute; left:0; width:107px; top:70px; bottom:10px; background-color:black; }
        .map { position:absolute; left:107px; right:0; top:70px; bottom:10px; }
        .plugins { }
        .sidebar-links { position:absolute; bottom:0; width:100%; }
        .split-controls { text-align: center; padding-bottom: 10px; width:100%; }
        div.title { font-size:1.4em; font-weight:bold;}
        div.sidebar-plugin { border-bottom: 1px solid white; text-align: center;}
        div.selected-plugin { background-color: gray;}
        div.sidebar-plugin img { width:42px; height:42px; margin-top: 18px; background-color:gray; }
        div.sidebar-plugin div { padding: 8px 0 12px 0;}
        div.sidebar-link { padding: 8px 0 10px 0; border-top: 1px solid white; background-color: #333; text-align: center}
        div.sidebar-link a { color: white; text-decoration:none; font-size: 11px;}
        
        .map .tools {
            position: absolute;
            top: 16px;
            left: 50px;
        }

        .map .tools .topbar-plugin > div {
            width: 32px;
            height: 32px;
            background-color: white;
            background-repeat: no-repeat;
            background-position: 8px 8px;
            overflow: hidden;
            border-radius: 4px;
            float: left;
            opacity: .65;
            cursor: pointer;
            box-shadow: 0 0 12px rgba(0,0,0,.25);
        }
    </style>
</head>
<body>
    <div id="page">
        <div id="header">
            <div id="top-links">

                @foreach (var link in Model.HeaderLinks) {
                    if (link != Model.HeaderLinks.First()) { // Show separator between links
                        @:&nbsp;&nbsp;|&nbsp;&nbsp;
                    }
                    <a class="top-link" href="@link.Url">@link.Text</a>
                }

            </div>
            <div class="title">@Model.Title</div>
        </div>
        <div id="pane1"></div>
        <div id="pane2" style="display:none"></div>
    </div>

    <script type="text/template" id="template-pane">
        <div class="sidebar">
            <div class="plugins">
            </div>
            <div class="sidebar-links">
                <div class="split-controls">Split | Switch</div>
                <div class="sidebar-link">
                    <a href="#">Print this Page</a>
                </div>
            </div>
        </div>
        <div class="map">
            <div class="tools"></div>
        </div>
    </script>

    <script type="text/template" id="template-sidebar-plugin">
        <img src="/plugins/<%- toolbarName %>/icon.png">
        <div><%- toolbarName %></div>
    </script>

    <script type="text/template" id="template-sidebar-link">
        <div class="sidebar-link">
            <a href="<%= link.url %>"><%- link.text %></a>
        </div>
    </script>

    <script src="//serverapi.arcgisonline.com/jsapi/arcgis/?v=3.3compact"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/lib/jquery-1.9.0.min.js"><\/script>')</script>
    <script src="js/lib/underscore-1.4.3.min.js"></script>
    <script src="js/lib/backbone-0.9.10.min.js"></script>
    <script src="js/lib/backbone.picky.js"></script>
    <script src="js/Geosite.js"></script>
    <script src="js/Plugin.js"></script>
    <script src="js/Pane.js"></script>
    <script src="js/MapWrapper.js"></script>
    <script src="js/TemplateLoader.js"></script>
    <script src="js/App.js"></script>
    <!-- Temporarily hard-code js loading for plugins -->
    <script type="text/javascript" charset="utf-8" src="plugins/layer_selector/lib/ext-4.1.1a/ext-all.js"></script>
    
    <script type="text/javascript">
        // Configure the Dojo module loader so that module identifiers starting with "plugins/" 
        // will be loaded from the site's root "plugins" folder
        require({
            async: true,
            packages: [{
                name: "plugins",
                location: location.pathname.replace(/\/[^/]+$/, "") + "plugins"  // e.g. "/virtualFolderName/plugins"
            }]
        });

        // Our require() call below for loading plugins shouldn't fail, since:
        //     * Server-side code verifies that each plugin folder exists and contains a main.js file.
        //     * require() succeeds even if main.js has errors. (It passes an empty object for that module.)
        // But just in case:
        require.on('error', function(error) {
            alert('Site configuration error.');
        });

        // Load the plugins and launch the app.
        // We're using server-generated data to build this JavaScript block. Example result:
        // 
        //     require(['plugins/layer_selector/main', 'plugins/measure/main'], function(p0, p1) {
        //         return $(document).ready(function() {
        //             var regionData = {
        //                                  "title": "Geosite Framework Sample",
        //                                       // ... (omitting middle of region.json) ...
        //                                  "pluginOrder": [ "layer_selector", "measure" ]
        //                              },
        //                 plugins = [p0, p1]; // loaded plugin objects
        //             Geosite.app.init(regionData, plugins);
        //         });
        //     });

        require([@Html.Raw(Model.PluginModuleIdentifiers)], function(@Html.Raw(Model.PluginVariableNames)) {
            return $(document).ready(function() {
                var regionData = @Html.Raw(Model.RegionDataJson),     // contents of region.json (augmented)
                    plugins = [@Html.Raw(Model.PluginVariableNames)]; // loaded plugin objects
                Geosite.app.init(regionData, plugins);
            });
        });
    </script>

</body>
</html>
