@{
    Layout = null;
}

@using GeositeFramework.Models
@model Geosite

@helper OptionalLinkText(Geosite.Link link)
{
    if (link.Url != null)
    {
        <a target="_blank" href="@link.Url">@link.Text</a>
    }
    else
    {
        @link.Text
    }

}


@helper RenderLinks(IList<Geosite.Link> links, bool showDividers = true)
{
    foreach (var link in links)
    {
        if (link != Model.HeaderLinks.First() && showDividers)
        {
            <li class="divider"></li>
        }
        <li id="@link.ElementId">
            @if (link.Popup)
            {
                <a class="framework-popup" href="javascript:;" data-url="@link.Url">@link.Text</a>
            }
            else if (link.Items != null && link.Items.Any())
            {
                <li class="dropdown-submenu">
                    <a id="region-header-menu" href="#">
                        Other Regions
                        <i class="dropdown-icon icon-angle-right"></i>
                    </a>

                    <ul class="dropdown-menu" id="region-links">
                        @RenderRegionLinks(link.Items)
                    </ul>
                </li>
            }
            else
            {
                <a target="_blank" href="@link.Url">@link.Text <i class="icon-link-ext"></i></a>
            }

        </li>
    }

}

@helper RenderRegionLinks(IList<Geosite.Link> links) {
    if (links != null) {
        foreach (var link in links) {
            <li id="@link.ElementId">
                <a target="_blank" href="@link.Url">@link.Text <i class="icon-link-ext"></i></a>
            </li>
        }
    }
}

<!DOCTYPE html>
<!--[if IE 8]>          <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->  <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta http-equiv="x-ua-compatible" content="IE=edge"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>@Model.TitleMain.Text | @Model.TitleDetail.Text</title>

    <!-- Load CSS for plugins -->
    @foreach (var url in Model.PluginCssUrls)
    {
        <link rel="stylesheet" href="@url">
    }
    <link rel='shortcut icon' href='img/favicon.ico' type='image/x-icon'/ >

    <link rel="stylesheet" href="//js.arcgis.com/3.25/dijit/themes/claro/claro.css">
    <link rel="stylesheet" href="//js.arcgis.com/3.25/esri/css/esri.css">
    <link rel="stylesheet" href="//js.arcgis.com/3.10/js/dojo/dojox/layout/resources/ResizeHandle.css">
    <link rel="stylesheet" href="//js.arcgis.com/o/232546/geosite-v1.0.10/esri/css/esri.css">

    <link rel="stylesheet" href="css/TinyBox2.css">
    <link rel="stylesheet" href="css/pageguide.min.css"/>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/measure.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:500,900" rel="stylesheet">
    <link href="http://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.6.2/chosen.css" rel="stylesheet">
    <link rel="stylesheet" href="css/styleguide.css">
    <link rel="stylesheet" href="css/jquery-ui-slider-pips.css">

    <!-- jQuery UI needs to load before Dojo, or else there is a conflict that prevents Dojo from loading -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <!-- Simple implementation style overrides from config -->
    <style type="text/css">
        header,
        #sidebar-toggle {
            background: @Model.PrimaryColor;
        }

        .nav-apps {
            background-color: @Model.TertiaryColor;
        }

        .nav-apps-button.active.app-displayed {
            background-color: @Model.ActiveAppColor;
        }

        .color-primary,
        .alert-primary {
            color: @Model.SecondaryColor;
        }

        .background-primary,
        .button-primary,
        .nav-apps-button.active,
        .header-dropdown .dropdown-menu,
        .dropdown-menu>.active>a:hover,
        .loading.loading-pulse.loading-primary,
        .loading.loading-blink.loading-primary>div,
        .alert-primary {
            background-color: @Model.SecondaryColor;
        }

        .button:focus,
        .button-primary:focus,
        .button-secondary:focus,
        .button-danger:focus,
        .button-warning:focus {
            box-shadow: 0 1px 2px -1px @Model.SecondaryColor;
        }

        .header-dropdown .dropdown-menu:after {
            border-bottom: 7px solid @Model.SecondaryColor;
        }

        .loading.loading-spinner.loading-primary {
            border-left: 1.1em solid @Model.SecondaryColor;
            border-bottom: 1.1em solid @Model.SecondaryColor;
            border-right: 1.1em solid @Model.SecondaryColor;
        }

        /* Use custom colors for overlay */
        body #tlyPageGuideWrapper #tlyPageGuideMessages span,
        body #tlyPageGuideWrapper #tlyPageGuideMessages .tlypageguide_close,
        body #tlyPageGuideWrapper #tlyPageGuide li:hover,
        body #tlyPageGuideWrapper #tlyPageGuide li.tlypageguide-active
        {
            background: @Model.SecondaryColor;
        }
        body #tlyPageGuideWrapper #tlyPageGuide li.tlypageguide-active.tlypageguide_right:after,
        body #tlyPageGuideWrapper #tlyPageGuide li.tlypageguide-active.tlypageguide_left:after,
        body #tlyPageGuideWrapper #tlyPageGuide li.tlypageguide-active.tlypageguide_top:after,
        body #tlyPageGuideWrapper #tlyPageGuide li:hover.tlypageguide_right:after,
        body #tlyPageGuideWrapper #tlyPageGuide li:hover.tlypageguide_left:after,
        body #tlyPageGuideWrapper #tlyPageGuide li:hover.tlypageguide_top:after {
            border-top: 15px solid @Model.SecondaryColor;
        }

        body .popover-header {
            background-color: @Model.PrimaryColor;
        }

        body .tlypageguide_shadow:after {
            background-color: @Model.SecondaryColor;
            opacity: 0.2;
        }
        .dropdown-submenu > a:not(:hover) {
            background-color: @Model.SecondaryColor;
        }

        @if (Model.SinglePluginMode) {
        <text>
        .sidebar-content {
            height: 100%;
            margin-top: 0;
        }

        .sidebar-nav {
            display:none;
        }

        #toggle-plugin-container button {
            background-color: @Model.PrimaryColor;
            border-color: @Model.PrimaryColor;
        }
        #toggle-plugin-container button:hover {
            background-color: @Model.SecondaryColor;
        }

        /* Ideally these would be stored in class, but when the ESRI search is
        initialized, existing classes are overwritten */
        #search {
            right: 45px;
            z-index: 10000;
        }
        </text>
        }
    </style>

    @if (Model.GoogleAnalyticsPropertyId != null)
    {
        <!-- Google Analytics -->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-@Model.GoogleAnalyticsPropertyId', 'auto');
            ga('send', 'pageview');
        </script>
        <!-- End Google Analytics -->
    }
</head>


<!-- EX.: view-split, view-left, view-right -->
<body class="app-fullscreen" style="zoom: 0 !important;">

    <!-- iframe and form are used in tandem to facilitate a non-reloading
        POST to the download URL.  The form targets the iframe, making it reload
        when performing the action -->
    <iframe name="download-frame" class="hidden"></iframe>
    <form id="download-csv-form" target="download-frame" method="POST" class="hidden">
        <input type="hidden" name="content" />
        <input type="hidden" name="filename" />
    </form>

    <script type="text/template" id="template-pane">
        @if (Model.SinglePluginMode) {
        <text>
        <div id="single-plugin-mode-help-container">
            Help
        </div>
        </text>
        }
        <nav class="nav-apps plugins nav-apps-narrow @(Model.SinglePluginMode ? "single-plugin-mode" : "")">
            <div id="sidebar-help-area">
                <a id="help-overlay-start" href="#" data-i18n="Tour">Tour</a>
                <div id="sidebar-toggle">
                    <a><i class="fa fa-chevron-right"></i></a>
                </div>
            </div>
        </nav>
        <div class="flex-expand">
            <div class="flex-container map-container">
                @if (Model.SinglePluginMode) {
                <div id="toggle-plugin-container" class="single-plugin-mode">
                    <span><i class="fa fa-chevron-left" aria-hidden="true"></i></span>
                </div>
                }
                <div id="map-0" class="map">
                    <div class="control-container">
                        <div class="top-tools"></div>
                        <div class="map-tools">
                            <!-- Map utils control -->
                            <div class="topbar-plugin" id="map-utils-control">
                                <div class="plugin-launcher">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="map-utils-dropdown-button" data-toggle="dropdown" aria-haspopup="true">
                                        <i class="icon-wrench"></i>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="map-utils-dropdown-button">
                                        <li><a href="#" class="i18n" data-command="measure" data-i18n="Measure">Measure</a></li>
                                        <li><a href="#" class="i18n" data-command="zoom" data-i18n="Zoom to Extent">Zoom to Extent</a></li>
                                        @if (!Model.SinglePluginMode) {
                                            <li><a href="#" class="i18n" data-command="export" data-i18n="Create Map">Create Map</a></li>
                                        }
                                        <li><a href="#" class="i18n" data-command="share" data-i18n="Save &amp; Share">Save &amp; Share</a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- Top bar plugins -->
                            <div class="tools"></div>
                        </div>
                        <div class="basemap-selector">
                            <div class="basemap-selector-title"></div>
                            <div class="basemap-selector-list">
                                <ul>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="legend-container-<%= paneNumber %>" class="legend">
                        <div class="legend-header">
                            <span class="i18n" data-i18n="Map Legend">Map Legend</span>
                            <a class="legend-close i18n" data-i18n="[title]Hide Legend" href="javascript:;">_</a>
                        </div>
                        <div class="legend-body">
                            <div class="plugin-legends"></div>
                            <div class="layer-legends"></div>
                        </div>
                    </div>
                    <div class="subregion-tooltip"></div>
                </div>
            </div>
        </div>
    </script>

    <script type="text/template" id="template-legend-item-single">
        <div class="legend-layer single">
            <div class="item">
                <img src="data:<%= legend[0].contentType %>;base64,<%= legend[0].imageData %>"
                    width="<%- legend[0].width %>"
                    height="<%- legend[0].height %>"
                    title="<%- legend[0].label %>" alt="" />
                <span class="item-label"><%- layerName %></span>
            </div>
        </div>
    </script>

    <script type="text/template" id="template-legend-item-multiple">
        <div class="legend-layer multiple">
            <div class="legend-title"><%- layerName %></div>
            <% _.each(legend, function(item, index) { %>
                <div class="item <% if (index > 2 && index <= (legend.length - 3)) { %>extra<% } %>">
                    <img src="data:<%= item.contentType %>;base64,<%= item.imageData %>"
                        width="<%- item.width %>"
                        height="<%- item.height %>"
                        title="<%- item.label %>" alt="" />
                    <span class="item-label"><%- item.label %></span>
                </div>
                <% if (legend.length > 5 && index === 3) { %>
                    <div class="item expand">
                        <span>...</span>
                    </div>
                <% } %>
            <% }) %>
            <% if (legend.length > 5) { %>
                <div class="item expand">
                    <a href="#" class="expand-legend">
                        <span class="i18n" data-i18n="View">View</span>
                        <span> <% print(legend.length - 5) %> </span>
                        <span class="i18n" data-i18n="more">more</span>
                    </a>
                </div>
                <div class="item extra collapse">
                    <a href="#" class="expand-legend">
                        <span class="i18n" data-i18n="View less">View less</span>
                    </a>
                </div>
            <% } %>
        </div>
    </script>

    <script type="text/template" id="template-legend-item-scale">
        <div class="legend-layer scale">
            <div class="legend-title"><%- layerName %></div>
            <% _.each(legend, function(item, i) { %>
                <div class="item">
                    <% if (i === 0) { %><%- item.label %><% } %>
                    <img src="data:<%= item.contentType %>;base64,<%= item.imageData %>"
                        width="<%- item.width %>"
                        height="<%- item.height %>"
                        title="<%- item.label %>" alt="" />
                    <% if (i === legend.length - 1) { %><%- item.label %><% } %>
                </div>
            <% }) %>
        </div>
    </script>

    <script type="text/template" id="template-legend-item-image">
        <div class="legend-layer single">
            <div class="item">
                <img src="<%- legend %>" alt="<%- layer.title %>" />
            </div>
        </div>
    </script>

    <script type="text/template" id="template-sidebar-plugin">
        <button class="nav-apps-button plugin-launcher i18n <%= selected ? 'active' : ''%> <%= displayed ? 'app-displayed' : ''%>" data-i18n="[title]<%=fullName%>">
            <span class="button-icon"><img src="<%- pluginSrcFolder %>/icon_sm.png"></span>
            <span class="button-text i18n" data-i18n="<%- pluginObject.toolbarName %>"><%- pluginObject.toolbarName %></span>
        </button>
        <button class="button-link button-sidebar-plugin-close plugin-clear">
            <i class="icon-cancel"></i>
        </button>
    </script>

    <script type="text/template" id="template-topbar-plugin">
        <a class="plugin-launcher i18n" data-i18n="[title]<%=fullName%>" href="javascript:;"></a>
    </script>

    <script type="text/template" id="template-topbar-tools">
        <span class="topbar-tools">
            <a class="plugin-clear" href="javascript:;">&#10006;</a>
        </span>
    </script>

    <script type="text/template" id="template-basemap-selector-item">
        <li data-index="<%- index %>"><%- name %></li>
    </script>

    <script type="text/template" id="template-plugin-container">
        <div class="sidebar <%= sizeClassName %> content-scrollable" id="<%= id %>" style="<%= customWidth %>">
            <div class="sidebar-nav">
                <h2 class="nav-title" class="i18n" data-i18n="<%- title %>">
                    <%- title %>
                </h2>
                <div class="nav-buttons">
                    <% if (hasCustomPrint) { %>
                        <button class="button-link plugin-print i18n" data-i18n="[title]Print Contents" title="Print Contents">
                            <i class="icon-print"></i>
                        </button>
                    <% } %>

                    <% if (hasHelp) { %>
                        <button class="button-link plugin-help i18n" data-i18n="[title]Help" title="Help">
                            <i class="icon-info-circled"></i>
                        </button>
                    <% } %>

                    <% if (!hideMinimizeButton) { %>
                        <button class="button-link plugin-minimize i18n" data-i18n="[title]Minimize this plugin" title="Minimize this plugin">
                            <i class="icon-window-minimize"></i>
                        </button>
                    <% } %>

                    <button class="button-link plugin-off i18n" data-i18n="[title]Turn off this plugin" title="Turn off this plugin">
                        <i class="icon-cancel"></i>
                    </button>
                </div>
            </div>
            <div class="sidebar-content">
            </div>
        </div>
    </script>

    <script type="text/template" id="template-result-of-identify">
        <div>
            <div class="identify-section i18n" data-i18n="<%- pluginTitle %>"><%- pluginTitle %></div>
            <div class="identify-result"></div>
        </div>
    </script>


    <script type="text/template" id="plugin-result-of-identify">
        <div class="result-of-identify collapsed">
            <div data-class="result-of-identify-inner">
                <div class="identify-header-label"><span class="i18n" data-i18n="Layer:">Layer:</span><%= layerName %></div>
                <% if (value) { %>
                    <div class="identify-header-label">
                        <span><%= displayFieldName || 'Value'%>:</span><%= value %>
                    </div>
                <% } %>
                    <div class="attributes" style="display: none;">
                        <table>
                            <tbody>
                                <% _.each(feature.attributes, function(attributeValue, attributeName) { %>
                                    <% if (attributeName !== displayFieldName) { %>
                                        <tr>
                                            <td><%= attributeName %></td>
                                            <td><%= attributeValue %></td>
                                        </tr>
                                    <% } %>
                                <% }); %>
                            </tbody>
                        </table>
                    </div>
            </div>
        </div>
    </script>

    <script type="text/template" id="template-export-window">
        <div class="popover">
            <div class="popover-header">
                <h2><span class="i18n" data-i18n="Map Export">Create Map</span></h2>
            </div>
            <div class="popover-content">
                <div class="row">
                    <div class="popover-section">
                        <h3 class="i18n" data-i18n="Title (Optional):">Title (Optional):</h3>
                        <input type="text" class="form-control" id="export-title"/>
                    </div>
                    <div class="popover-section">
                        <h3 class="i18n" data-i18n="Orientation">Orientation</h3>
                        <label class="form-component">
                            <input type="radio" name="export-orientation" value="landscape" checked="checked"/>
                            <div class="check"></div>
                            <span class="form-text i18n" data-i18n="landscape">Landscape</span>
                        </label>
                        <label class="form-component">
                            <input type="radio" name="export-orientation" value="portrait"/>
                            <div class="check"></div>
                            <span class="form-text i18n" data-i18n="Portrait">Portrait</span>
                        </label>
                        <p class="font-italic small i18n" data-i18n="Browser Print">* You may need to alter your browser print settings</p>
                    </div>
                    <div class="popover-section">
                        <h3 class="i18n" data-i18n="Page Size">Page Size</h3>
                        <label class="form-component">
                            <input type="radio" name="export-page-size" value="letter" checked="checked"/>
                            <div class="check"></div>
                            <span class="form-text i18n" data-i18n="Letter">Letter</span>
                        </label>
                        <label class="form-component">
                            <input type="radio" name="export-page-size" value="a4"/>
                            <div class="check"></div>
                            <span class="form-text i18n" data-i18n="A4">A4</span>
                        </label>
                        <p class="font-italic small i18n" data-i18n="Browser Print">* You may need to alter your browser print settings</p>
                    </div>
                    <div class="popover-section">
                         <h3 class="i18n" data-i18n="Legend">Legend</h3>
                        <label class="form-component">
                            <input type="checkbox" name="export-include-legend" checked/>
                            <div class="check"></div>
                            <span class="form-text i18n" data-i18n="Include Layer Legend">Include Layer Legend</span>
                        </label>
                    </div>
                    <button id="export-button" class="button button-primary radius i18n" data-i18n="Generate Map Export">Generate Map Export</button>
                </div>
                <div id="export-print-preview-container">
                    <div id="export-print-preview-map"></div>
                </div>
            </div>
        </div>

    </script>

    <script type="text/template" id="template-export-url">
            <a target="_blank" class="export-output-url i18n" data-i18n="View your printable document." href="<%= url %>">View your printable document.</a>
    </script>

    <!-- Adding any white space between the textarea and the iframe
        will result in whitespace within the rendered textarea, which looks strange. -->
    <script type="text/template" id="embed-iframe">
       <textarea class="form-control code-like"><iframe width="<%= width %>" height="<%= height %>" src="<%= shortUrl %>"></iframe>
       </textarea>
    </script>

    <script type="text/template" id="permalink-share-window">
        <div class="popover">
            <div class="popover-header">
                <h2 class="i18n" data-i18n="Save & Share">Save & Share</h2>
            </div>
            <div class="popover-content">
                <div class="row" id="permalink-dialog">
                  <label class="popover-section"><div class="h3 i18n" data-i18n="Permalink">Permalink</div>
                    <input class="form-control code-like permalink-textbox" type="text" value="<%= shortUrl %>"/></label>
                  <label class="popover-section h3" data-i18n="Embed"><div class="h3">Embed</div></label>
                  <p>You can copy and paste the following code to embed this map on your website.</p><br>
                  <span id="iframe-embed"></span>
                  <div class="popover-container">
                      <div class="row">
                          <div class="column">
                              <label class="popover-section">
                                  <div class="h4 i18n" data-i18n="Embed Width (px)">Embed Width (px)</div>
                                  <input type="number" class="form-control embed-size width" value="<%= width %>" />
                              </label>
                          </div>
                          <div class="column">
                              <label class="popover-section">
                                  <div class="h4 i18n" data-i18n="Embed Height (px)">Embed Height (px)</div>
                                  <input type="number" class="form-control embed-size height" value="<%= height %>" />
                              </label>
                          </div>
                      </div>
                  </div>
                  <label class="popover-section">
                      <div class="h3 i18n" data-i18n="Need the save code for this map?">
                          Need the save code for this map?
                      </div>
                      <a href="javascript:void(0);" class="show-long-permalink i18n" data-i18n="Get it here.">
                          Get it here.
                      </a>
                    <input class="form-control code-like" id="long-permalink-textbox" type="text" value="<%= hash %>"/>
                  </label>
                </div>
            </div>
        </div>
    </script>

    <script type="text/template" id="template-subregion">
        <div class="subregion-header">
            <p><span class="i18n" data-i18n="You are currently in">You are currently in</span>
                <select class="header-region-selection">
                    <% _.each(subregions, function(region) { %>
                        <option <%= region.id=== selectedId ? "selected" : "" %>
                                value="<%= region.id %>"><%= region.display %>
                        </option>
                    <% }); %>
                </select>
            </p>
            <p class="leave"><a href="javascript:void(0);"><i class="fa fa-times-circle"></i><span class="i18n" data-i18n="Leave Region">Leave Region</span></a></p>
        </div>
    </script>

    <script type="text/template" id="template-plugin-print-modal">
        <div id="plugin-print-modal" class="popover">
            <div class="popover popover-header">
                <h2><%= pluginName %> - <span class="i18n" data-i18n="Print Options">Print Options</span></h2>
            </div>
            <div class="popover-content">
                <div class="print-modal-container row">
                    <div id="plugin-print-modal-content" class="popover-section"></div>
                    <div class="print-modal-confirm-container">
                        <button id="print-modal-confirm" class="button button-primary radius i18n" data-class="Print">Print</button>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script type="text/template" id="template-measure-intro">
        <span data-i18n="Click the map to start measuring"></span>
    </script>

    <script type="text/template" id="template-measure-tooltip">
        <div class="measure-tooltip">
            <p><%= instructions %></p>
            <div>
                <div class="measure-label"><%= segmentLabel %>:</div>
                <% _.each(segmentLengths, function (item, index) { %>
                    <div><%= item.length %> <%= item.uom %></div>
                <% }); %>
            </div>
            <div>
                <div class="measure-label"><%= lengthLabel %>:</div>
                <% _.each(totalLengths, function (item, index) { %>
                    <div><%= item.length %> <%= item.uom %></div>
                <% }); %>
            </div>
        </div>
    </script>

    <script type="text/template" id="template-measure-infobubble">
        <div class="measure-bubble">
            <div>
                <span>Units:</span>
                <a class="measure-unit-filter" data-unit="mi" title="Miles" href="#">mi</a>
                <a class="measure-unit-filter" data-unit="km" title="Kilometers" href="#">km</a>
                <% if (areas) { %>
                <a class="measure-unit-filter" data-unit="ac" data-alt-unit="mi" title="Acres" href="#">ac</a>
                <a class="measure-unit-filter" data-unit="ha" data-alt-unit="km" title="Hectares" href="#">ha</a>
                <% } else { %>
                <a class="measure-unit-filter" data-unit="m" title="Meters" href="#">m</a>
                <a class="measure-unit-filter" data-unit="ft" title="Feet" href="#">ft</a>
                <% } %>
            </div>
            <hr />
            <% if (areas) { %>
                <p>
                    <span class="measure-label i18n" data-i18n="Area:">Area:</span>
                    <% _.each(areas, function (item, index) { %>
                        <span class="measure-unit-value <%= item.uom %>">
                            <%= item.area %> <%= item.uom %>
                            <% if (item.uom === "mi" || item.uom === "km") { %>
                                <sup>2</sup>
                            <% } %>
                        </span>
                    <% }); %>
                </p>
            <% } %>
            <p>
                <span class="measure-label i18n" data-i18n="Length:">Length:</span>
                <% _.each(lengths, function (item, index) { %>
                        <span class="measure-unit-value measure-unit-length <%= item.uom %>">
                            <%= item.length %> <%= item.uom %>
                        </span>
                <% }); %>
            </p>
            <p>
                <button type="button"
                        class="btn"
                        data-action="Clear"
                        data-i18n="Clear">Clear</button>
            </p>
        </div>
    </script>

    <script type="text/template" id="single-plugin-mode-help-template">
        <div class="sidebar content-scrollable">
            <div class="sidebar-nav">
                <h2 class="nav-title" class="i18n" data-i18n="About">
                    About
                </h2>
                <div class="nav-buttons">
                    <button class="button-link plugin-off i18n" data-i18n="[title]Turn off this plugin" title="Turn off this plugin">
                        <i class="icon-cancel"></i>
                    </button>
                </div>
            </div>
            <div class="sidebar-content">
                <%= content %>
            </div>
        </div>
    </script>

    <script type="text/template" id="infographic-button-template">
        <button class="button button-default infographic-icon">
            <img src="img/infographic-icon.png" alt="Show infographic">
        </button>
    </script>

    <!-- TOP BAR, FIXED TO THE TOP OF THE SCREEN -->
    <header>
        @if (!@Model.SinglePluginMode) {
        <div class="dropdown header-dropdown nav-main-dropdown">
            <button class="button dropdown-toggle nav-main-button" type="button" id="header-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <div class="nav-main">
                    <div class="dropdown-icon-container">
                        <i class="dropdown-icon icon-menu"></i>
                    </div>
                    <div class="nav-main-title">
                        @Model.TitleMain.Text
                    </div>
                </div>
            </button>
            <ul class="dropdown-menu" aria-labelledby="header-menu">
                @RenderLinks(Model.HeaderLinks)
            </ul>
        </div>
        } else {
        <div class="nav-main">
            <div class="nav-main-title">
                @Model.TitleMain.Text
            </div>
        </div>
        }
        <div class="nav-region-subtitle">
            @if (!Model.SinglePluginMode) {
                @Model.TitleDetail.Text
            } else {
                <text><span id="show-single-plugin-mode-help">About</span></text>
            }
        </div>
        <div id="search"></div>
        @if (@Model.SinglePluginMode) {
        <div class="dropdown header-dropdown nav-main-dropdown single-plugin-mode">
            <button class="button dropdown-toggle nav-main-button" type="button" id="header-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <div class="nav-main">
                    <div class="dropdown-icon-container">
                        <i class="dropdown-icon icon-menu"></i>
                    </div>
                </div>
            </button>
            <ul class="dropdown-menu" aria-labelledby="header-menu">
                @RenderLinks(Model.HeaderLinks)
            </ul>
        </div>
        }
    </header>

    @Html.Partial("TourInfo")

    <!-- If a view is provided (overwritten via the region repo), a user can
        change the region setting `launchpad.html = true` to use this content -->
    <div id="custom-launchpad-content" style="display:none;">
        @Html.Partial("CustomLaunchpadContent")
    </div>

    <div id="single-plugin-mode-help-content" style="display:none;">
        @Html.Partial("SinglePluginModeHelp")
    </div>

    <!-- Area for plugins to arrange their markup independent
        of their container -->
    <div id="plugin-print-sandbox"></div>

    <!-- Area for the main map to get setup for printing. -->
    <div id="map-print-sandbox">
        <div class="print-sandbox-header">
            <img src="@Model.PrintHeaderLogo" title="Header Logo" class="logo" />
            <h1></h1>
        </div>
        <div id="print-map-container"></div>
    </div>

    <!-- LEFT CONTENT AREA -->
    <div id="left-pane" class="flex-container content"></div>

    <script src="js/polyfill.js"></script>

    <script src="//apis.google.com/js/client.js"></script>

    <!-- Scripts that will change their behavior in undesirable ways if they find an AMD
         environment should be loaded before the jsapi -->
    <script src="js/lib/underscore.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone-min.js"></script>
    <script src="js/lib/jquery.mousewheel.min.js"></script>
    <script src="js/lib/i18next-2.2.0.min.js"></script>
    <script src="js/lib/i18next-XHRBackend-0.3.0.min.js"></script>
    <script src="js/lib/i18next-jquery-0.0.14.min.js"></script>
    <script src="js/lib/i18next-SprintfPostProcessor-0.2.2.min.js"></script>

    <script src="//js.arcgis.com/o/232546/geosite-v1.0.10/dojo/dojo.js"></script>
    <script src="Scripts/json2.min.js"></script> <!-- Can be removed when IE8 support is dropped -->
    <script src="js/lib/backbone.picky.js"></script>
    <script src="js/lib/jquery.history.min.js"></script>
    <script src="js/lib/backbone.hashmodels.js"></script>
    <script src="js/lib/TinyBox2.js"></script>
    <script src="js/lib/pageguide.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script type="text/javascript">
            // Configure the Dojo module loader so that module identifiers starting with "plugins/"
            // will be loaded from the site's root "plugins" folder.
            // (This usage of require() is mentioned in http://dojotoolkit.org/documentation/tutorials/1.7/modules)
            //
            // The calls to location.pathname.replace() below prepend the app's root path to library locations.
            // Otherwise, since Dojo is loaded from a CDN it will prepend the CDN server path, and fail.
            // (See https://dojotoolkit.org/documentation/tutorials/1.7/cdn)

        var useConfig = { @Html.Raw(Model.ConfigurationForUseJs) };
        useConfig['Azavea'] = { attach: 'Azavea' };
        useConfig['Geosite'] = { attach: 'Geosite' };
        useConfig['jqueryui'] = { attach: 'jqueryui' };
        useConfig['chosen'] = { attach: 'chosen', deps: ['jquery'] };
        useConfig['pips'] = { attach: 'pips', deps: ['jqueryui'] };
        useConfig['underscore'] = { attach: '_', deps: ['underscore'] };
        useConfig['underscore-min'] = { attach: '_', deps: ['underscore'] };

        require({
            async: true,
            packages: [
                {
                    name: "plugins",
                    location: location.pathname.replace(/\/[^/]+$/, "") + "plugins"  // e.g. "/virtualFolderName/plugins"
                },
                {
                    name: "tnc",
                    location: location.protocol + "//" + location.host + location.pathname.replace(/\/+$/, "")
                },
                {
                    name: "framework",
                    location: location.pathname.replace(/\/[^/]+$/, "") + "js"
                }
            ],
            // The next two sections configure https://github.com/tbranyen/use.js, which handles non-AMD-compliant libraries
            // like Underscore and Ext JS. (Reference syntax in plugins is e.g. "use!underscore".)
            paths: {
                "use": location.pathname.replace(/\/[^/]+$/, "") + "js/lib/use",
                "Azavea": location.pathname.replace(/\/[^/]+$/, "") + "js/azavea.util",
                "Geosite": location.pathname.replace(/\/[^/]+$/, "") + "js/Geosite",
                "tv4": location.pathname.replace(/\/[^/]+$/, "") + "js/lib/tv4.min",
                "jqueryui": location.pathname.replace(/\/[^/]+$/, "") + "js/lib/jquery-ui.min",
                "chosen": location.pathname.replace(/\/[^/]+$/, "") + "js/lib/chosen.jquery.min",
                "pips": location.pathname.replace(/\/[^/]+$/, "") + "js/lib/jquery-ui-slider-pips.min",
                "underscore": location.pathname.replace(/\/[^/]+$/, "") + "js/lib/underscore",
                "underscore/underscore-min": location.pathname.replace(/\/[^/]+$/, "") + "js/lib/underscore",
                "underscore/underscore": location.pathname.replace(/\/[^/]+$/, "") + "js/lib/underscore",
            },
            use: useConfig
        });
            // Tell Dojo's "define" that JQuery is AMD-compatible. Otherwise you can't reference it in a define().
            define.amd.jQuery = true;
    </script>

    <script src="js/Geosite.js"></script>
    <script src="js/HelpOverlay.js"></script>
    <script src="js/BasemapSelector.js"></script>
    <script src="js/SidebarToggle.js"></script>
    @if (@Model.SinglePluginMode) {
    <text>
        <script src="js/SinglePluginModeHelp.js"></script>
    </text>
    }
    <script src="js/TimeoutWrapper.js"></script>
    <script src="js/Identify.js"></script>
    <script src="js/Map.js"></script>
    <script src="js/SubRegion.js"></script>
    <script src="js/MapWrapper.js"></script>
    <script src="js/Pane.js"></script>
    <script src="js/Plugin.js"></script>
    <script src="js/Export.js"></script>
    <script src="js/Permalink.js"></script>
    <script src="js/TemplateLoader.js"></script>
    <script src="js/Screen.js"></script>
    <script src="js/SyncedMapManager.js"></script>
    <script src="js/App.js"></script>

    <script type="text/javascript">

        require(['use!Azavea'], function(Azavea) {
            // Initialize logging URL before we load any modules
            Azavea.logUrl = "Log";
        });

        // Our require() call below for loading plugins shouldn't fail, since:
        //     * Server-side code verifies that each plugin folder exists and contains a main.js file.
        //     * require() succeeds even if main.js has errors. (It passes an empty object for that module.)
        //
        // However, plugins can trigger a Dojo module loading error by mis-configuring their define() calls.
        // Do our best to report a useful message.

        require.on('error', function(error) {
            var message = "(unknown)";
            if (error.info !== undefined && error.info.length > 0) {
                message = "Unable to load module " + error.info[0];
            } else if (error.message !== undefined) {
                message = error.message;
            }
            Azavea.logError(message, "load Dojo module");
        });

        // Load the plugins and launch the app.
        // We're using server-generated data to build this JavaScript block. Example result:
        //
        //     require(['plugins/layer_selector/main', 'plugins/measure/main'], function(p0, p1) {
        //         $(document).ready(function() {
        //             var regionData = {
        //                                  title: "Geosite Framework Sample",
        //                                       // ... (omitting middle of region.json) ...
        //                                  pluginOrder: [ "layer_selector", "measure" ]
        //                              },
        //                 plugins = [p0, p1]; // loaded plugin objects
        //             Geosite.app.init(regionData, plugins);
        //         });
        //     });

        require([@Html.Raw(Model.PluginModuleIdentifiers)],
            function(@Html.Raw(Model.PluginVariableNames)) {
                $(document).ready(function() {
                    var regionData = @Html.Raw(Model.RegionDataJson),     // contents of region.json (augmented)
                        plugins = [@Html.Raw(Model.PluginVariableNames)]; // loaded plugin objects
                        Geosite.app.init('@Html.Raw(Model.GeositeFrameworkVersion)', regionData, plugins);
                });
        });

    </script>
    <footer id="single-plugin-toggle-footer">
        <span id="single-plugin-toggle-buttons">
            <button class="single-plugin-toggle-button button button-primary" id="single-plugin-toggle-content-button">
                Content
            </button>
            <button class="single-plugin-toggle-button button button-secondary" id="single-plugin-toggle-map-button">
                Map
            </button>
        </span>
    </footer>
</body>
</html>
